*{
    margin: 0;
    padding: 0;
}
body{
    -webkite-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    font-family:'M PLUS 1p', sans-serif;

}


/* start header style................................. */
header{
    width: 100%;
    padding-top: 5px;
    position: relative;
}
.container{}

.logo{
    width: 50%;
    float: left;
}
.logo img{
    width: 80px;
    height: 80px;
    position: absolute;
}
.header-text{
    width: 50%;
    float: right;
    text-transform: uppercase;
}
.header-text h1{
    float: right;
}
.header-text h3{
    float: right;
}
hr{
    background-color:#2d3c49;
    width: 100%;
    height: 2px;
}

/* end header style ....................................*/


.cover{
    width: 100%;
}
.cover img{
    width: 100%;
    background-size:cover;
    margin-top: 10px;

 }   
/*  end cover style ................................... */

    
/*  start footer style .................................*/
    
footer{
    overflow: hidden;
    width: 100%; 
    margin-bottom: 10px;
}
.fw h2{
    width: 100%;
    color: #7d97ad;
}
.fw span{
    text-transform: uppercase;    
}
.box{
    width: 33.333333%;
    text-align: center;
    display: inline-block
}
footer .div1{
    float: left
}
footer .div3{
    float: right
}
.box img{
    width: 250px;
    height: 250px
}
.box h2{
    color: #2d3c49;
    text-transform: uppercase;
}
.box p{
    text-decoration: none;
    color: #2d3c49;
    cursor: pointer;
    
}
/*end footer style*/

/*start media queries********************************************************************************/
@media screen and (min-width:320px) 
{
    .container{
    padding: 10px ;
    }
    header{
    margin-top: 10px;
    }
    .logo img{
    width: 56px;
    height: 56px;
    padding: 0 10px 0 10px ;
    }
    .header-text h1{
    float: right;
    font-size: 17px;    
    }
    .header-text h3{
    float: right;
    font-size: 12px;    
    }
    .header-text{
    margin-bottom: 10px;
    padding: 10px;    
    }
    hr{
    margin-bottom: 10px;    
    }
    .fw h2{
    padding: 10px 0 10px 0;
    }
    .box{
    width: 100%;
    margin-bottom: 20px;
    display: block;
    }
    .box h2{
    font-size: 25px;
    padding: 15px;
    }
    .box p{
    font-size: 13px;
    padding-bottom: 20px;
    font-family: cursive;
    cursor: pointer;
    }
}
@media screen and (min-width:517px)
{
    .container{
    padding: 10px ;
    }
    header{
    margin-top: 10px;
    }
    .logo img{
    width: 65px;
    height: 65px;
    padding: 0 10px 0 10px ;
    }
    .header-text h1{
    float: right;
    font-size: 28px;    
    }
    .header-text h3{
    float: right;
    font-size: 16px; 
    }
    hr{
    margin-bottom: 10px;    
    }
    .fw h2{
    font-size: 35px;
    margin: 10px 0 10px 0 ;
    }
    .box h2{
    font-size: 25px;
    }
    .box p{
    font-size: 13px;
    }
    
}
@media screen and (min-width:768px)
{
    .header-text h1{
    float: right;
    font-size: 32px;    
    }
    .header-text h3{
    float: right;
    font-size: 18px; 
    }
    .box{
    width: 100%;
    margin-bottom: 20px;
    display: block;
    }
    footer .div1{
    float: left
}
    footer .div3{
    float: right
    }
    
}
@media screen and (min-width:881px)
{
    .header-text h1{
    float: right;
    font-size: 35px;    
    }
    .header-text h3{
    float: right;
    font-size: 20px; 
    }
}
@media screen and (min-width:967px)
{
    .header-text h1{
    float: right;
    font-size: 37px;    
    }
    .header-text h3{
    float: right;
    font-size: 22px; 
    }
}
@media screen and (min-width:1036px)
{
    .header-text h1{
    float: right;
    font-size: 40px;    
    }
    .header-text h3{
    float: right;
    font-size: 25px; 
    }
    
}
@media screen and (min-width:1300px)
{
    .header-text h1{
    float: right;
    font-size: 48px;    
    }
    .header-text h3{
    float: right;
    font-size: 30px; 
    }
    .logo img{
    width: 85px;
    height: 85px;
    padding: 0 10px 0 10px ;
    }
}


    
   
